<mat-card align="center">
  <div>
    <mat-card-title class="my-primary-text">
      <div>Eloise's Mobile Supplier</div>
    </mat-card-title>
    <mat-card-content style="display: flex; justify-content: center">
      <img mat-card-image mat-card-sm-image style="padding: 30px" src="https://i.imgur.com/2QRMD0E.png" alt="vendors">
    </mat-card-content>
    <mat-card-title class="my-primary-text">
    <div style="font-size:small;padding-bottom: 5vh;">v1.0</div>
    </mat-card-title>
  </div>
  <mat-card-footer align="end" class="my-accent-text margin-right-2">
    &copy;Info5059 - 2020
  </mat-card-footer>
</mat-card>
